
@{
    ViewBag.Title = "Employee Index";
}
@section header{
    <header>
        <small>For internal use only</small>
    </header>
    }
<h2>Employee Index</h2>
<img src="~/Content/eagle.png" style="width:50px;"/>
@section scripts{
    <script>
        $("h2").css({ "background-color": "orangered", "color": "white", "padding": "10px" });
    </script>
    }

